<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="main">

        <h2 class="h2">{check.name}</h2>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:format.html>{check.description}</f:format.html>

        <div class="flex-container">
            <f:form
                class="flex flex-basis-8 full-width-medium space-between"
                id="tx-rkwquickcheck"
                section="tx-rkwquickcheck"
                action="show"
                name="checkExec"
                object="{checkExec}"
            >
                <f:if condition="{settings.termsPidFlexform} || {settings.termsPid}">
                   <f:render section="checkbox" />
                </f:if>
                <div class="form__field flex space-start full-width-narrow">
                    <f:form.submit
                        class="btn btn--primary full-width-narrow"
                        value="<f:translate key='templates_check_index.submit' />"
                    />
                </div>
            </f:form>
        </div>

    </f:section>

    <!-- ====================================================================================================================== -->

    <f:section name="checkbox">

        <div class="form__field break-after">
            <f:form.checkbox id="terms" property="terms" value="1" class="checkbox" />
            <label for="terms" class="checkbox-label"><f:translate key="templates_check_index.terms1" />
                <f:link.page pageUid="{f:if(condition: '{settings.termsPidFlexform}', then: '{settings.termsPidFlexform}', else: '{settings.termsPid}')}" target="_blank">
                    <f:translate key="templates_check_index.terms2" />
                </f:link.page>
            </label>
        </div>
    </f:section>
</html>